body {
    font-family: Arial, sans-serif;
    background-color: #FF6969;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 5% auto 0 auto;
    padding: 20px;
    background-color: #FFF5E0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

#task-form {
    display: flex;
    margin-bottom: 20px;
}

#task-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#add-task-button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: #F6F6F6;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between; /* Change from flex-start to space-between */
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 8px;
}

.delete-button {
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#task-list li{
    background-color:#A6E3E9;
}

li span{
    padding: 0.5em;
}

.container1{
    display: flex;
    justify-content: flex-start;
}